# Include everything under exhale/
graft exhale

# Exclude testing package
prune testing

# Don't include cache files
global-exclude *.py[co]

# Include the main README file
include README.rst

# Include the license file
include LICENSE

# Include the requirements file
include requirements.txt
