bs4     # BeautifulSoup!
lxml    # We need the lxml backend for BeautifulSoup.
sphinx==1.7.1  # Exhale is a Sphinx extension.
breathe # The directives used for documentation come from the excellent Breathe.
six     # Primarily for Unicode string types
