sphinx==4.3.1
sphinx_rtd_theme==1.0.0
sphinx-issues
# exhale requirements
beautifulsoup4
lxml
breathe
six
# test imports
pytest
pytest-raises>=0.10
# multiproject hack, see issue #27
-e git+https://github.com/mithro/sphinx-contrib-mithro#egg=sphinx-contrib-exhale-multiproject&subdirectory=sphinx-contrib-exhale-multiproject
